.popup-box {
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.popup-img {
  max-width: 100%;
  position: relative;
}

.popup-button {
  position: absolute;
  top: 7px;
  right: 5px;
  background-color: transparent;
  border: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.popup-button:hover {
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 50%;
}

.popup-close {
  color: #dee2e6;
  font-size: 18px;
}

.overlay_style {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: -3rem;
  background-color: rgba(0, 0, 0, 0.659);
  z-index: 1000;
}
