.root-container {
  background-image: url("./rootImages/background.png");
  background-size: cover;
}

.root-background {
  width: 100%;
  position: relative;
}

.root-content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
