.error-container {
  background-color: #00000081;
  width: 35rem;
  height: 15rem;
  border-radius: 20px 0 20px 0;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.error-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.error-number {
  color: #e03131;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}

.error-icon {
  color: #e03131;
  font-size: 3rem;
}

.error-text {
  font-weight: 300;
}
