.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  margin-top: 3rem;
  position: absolute;
}

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main-logo {
  width: 420px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000081;
}

.heading-logo {
  margin: 0 auto;
}

.heading-text {
  font-family: "Courgette", cursive;
  /* font-family: "Lobster", cursive; */
  font-size: 42px;
  letter-spacing: 3px;
  /* color: #0e3742; */
  color: #6b2626;
  -webkit-box-reflect: below 5px
    linear-gradient(transparent, rgba(0, 0, 0, 0.151));
  line-height: 22px;
  outline: none;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #6b2626;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: white;
    text-shadow: 0 0 5px #03bcf4, 0 0 10px #03bcf4, 0 0 20px #03bcf4,
      0 0 40px #03bcf4, 0 0 80px #03bcf4;
  }
}

.text-logo {
  font-size: 12px;
  font-weight: 200;
  color: #868e96;
}

.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 14rem;
}

.mail-button {
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e03131;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000081;
}

.mail-icon {
  color: #e03131;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.mail-icon:hover {
  background-color: #e03131;
  color: white;
  margin: -30px;
  transition: 0.5s;
}

.home-text-container {
  position: absolute;
  top: 3rem;
  right: 0;
}

.home-text-top {
  font-size: 1.5rem;
  color: #e03131d3;
  text-shadow: 3px 3px 3px #000000b7;
}

.home-text-bottom {
  font-size: 2rem;
  letter-spacing: 2px;
  /* border-right: 5px solid #00000081; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 3px 3px 3px #000000b7;
  color: rgba(255, 255, 255, 0.726);
  animation: typing 2s 1s steps(30), cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
