.mail-box {
  height: 265px;
  width: 300px;
  background-color: #00000081;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  border-radius: 0 0 10px 10px;
  transform: translateY(-15rem);
  opacity: 0;
  box-shadow: 0 0 1rem #0000005e;
}

.close-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  background-color: transparent;
  border-radius: 0 0 0 7px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #e03131;
  color: white;
  transition: 0.5s;
  border-radius: 0 0 0 7px;
}

.close-icon {
  color: #e03131;
  font-size: 27px;
  font-weight: bold;
}
.close-icon:hover {
  color: white;
  transition: 0.5s;
}

.image-email {
  padding: 1px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 2rem;
  margin-left: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.error-message {
  font-size: 12px;
  font-weight: 400;
  color: #e03131;
  position: absolute;
  top: 5.5rem;
  right: 7px;
}

.valid-message {
  position: absolute;
  top: 7.25rem;
  right: 12px;
  color: #e03131;
}

.email-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-fild {
  width: 260px;
  border: none;
  padding: 7px 20px;
  background-color: #00000081;
  font-weight: 300;
  border-top: 1px solid #495057;
  color: white;
}

.message-field {
  width: 300px;
  height: 100px;
  padding: 12px 20px;
  border: none;
  color: white;
  font-weight: 300;
  background-color: #00000081;
  resize: none;
  box-sizing: border-box;
  border-top: 1px solid #495057;
}

.message-button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-top: 1px solid #495057;
  color: #e03131;
  font-weight: 400;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}

.message-button:hover {
  background-color: #e03131;
  color: white;
  transition: 0.5s;
  border-radius: 0 0 10px 10px;
}
